In [64]:
import pandas as pd

In [65]:
import chardet

In [66]:
#работа с кодировкой

In [67]:
with open('C:\\ffff\events_filters.csv', 'rb') as f:
    result = chardet.detect(f.read())

In [68]:
#датафрейм events

In [69]:
events = pd.read_csv('C:\\ffff\events_filters.csv', encoding=result['encoding'], sep=',')

In [70]:
events.head(20)

,event_category,event_action,event_label,total_events,unique_events
0,city_landing,price_button_submit,Tula / Показать предложения (11),8,7
1,city_landing,price_button_submit,Sochi / Показать предложения (39),12,10
2,city_landing,search-tools-button_open,Penza / Сортировка,2,2
3,city_landing,filters-categories_click,Gelendzhik / ЭКСКУРСИИ В ГЕЛЕНДЖИКЕ ЦЕНЫ,1,1
4,city_landing,price_button_submit,Moscow / Показать предложения (345),2,2
5,city_landing,clear_filter_mobile,Vienna,12,11
6,city_landing,start_date_click,Vilnius,9,4
7,city_landing,ticket-type_checkbox,Irkutsk / Мини-группа,29,26
8,city_landing,price_button_submit,Vladivostok / Показать предложения (28),3,3
9,city_landing,filters-categories_click,Krakow / Необычные,3,3
10,city_landing,price_button_submit,Sochi / Показать предложения (222),10,9
11,city_landing,filters-categories_click,Barcelona / Сначала самые дешевые,62,50
12,city_landing,filters-categories_click,Novorossiysk / Автобусные,42,32
13,city_landing,search-tools-button_open,Crete / Фильтры Выбрано: 1,9,9
14,city_landing,price_button_submit,Sharm-el-Sheikh / Показать предложения (5),27,26
15,city_landing,filters-categories_click,Sergiev Posad / Групповые,10,8
16,city_landing,dates_filter_mobile,Ivanovo / Сегодня,2,2
17,city_landing,price_button_submit,Istanbul / Показать предложения (28),14,12
18,city_landing,search-tools-button_open,Irkutsk / КБЖД,2,2
19,city_landing,price_button_submit,Moscow / Показать предложения (233),4,3

In [71]:
#группировка по действиям для подсчёта суммарного кол-ва действий (total и unique)

In [72]:
events.groupby('event_action').sum()

                          total_events  unique_events
event_action
Page Visit                     2124993        1384478
clear_filter_mobile               3599           2788
dates_filter_mobile              13038          10272
end_date_click                   14638          11738
filters-categories_click         80065          62539
pay-type_checkbox                 7321           5465
price_button_close               14247          11646
price_button_submit              71890          63063
price_first                       8572           6676
price_second                      2826           1995
price_third                        904            595
search-tools-button_open         94210          85773
start_date_click                 19939          14501
ticket-type_checkbox             22882          17918

In [73]:
#price_button_submit был применён 63063 уникальных раз, то есть 63064 пользователя 
#применили фильтры
#сортировку и категории использовали 62539 пользователей, а фильтры применили 63063. Разница небольшая, но интересно, 
#что сортировку и категории всего использовали на 10 000 раз больше, то есть один и тот же пользователь за одну сессию чаще 
#использует сортировку и категории повторно, чем фильтры
#суммарно 9266 человек использовали выбор цены. Примерно 1/6 часть от всех использований фильтров

In [74]:
#в датафрейм events добавляется отдельная колонка с городами

In [75]:
events_cities = events['event_label'].str.split(' / ', expand = True)

In [76]:
events_cities

                0                            1
0            Tula    Показать предложения (11)
1           Sochi    Показать предложения (39)
2           Penza                   Сортировка
3      Gelendzhik  ЭКСКУРСИИ В ГЕЛЕНДЖИКЕ ЦЕНЫ
4          Moscow   Показать предложения (345)
...           ...                          ...
19087    Istanbul         ЭКСКУРСИИ В СТАМБУЛЕ
19088         Ufa                   Пешеходные
19089     Yerevan           Фильтры Выбрано: 0
19090       Pskov    Показать предложения (35)
19091    Auckland                         None

[19092 rows x 2 columns]

In [77]:
events['city']=events_cities[0]

In [78]:
events.head(10)

,event_category,event_action,event_label,total_events,unique_events,city
0,city_landing,price_button_submit,Tula / Показать предложения (11),8,7,Tula
1,city_landing,price_button_submit,Sochi / Показать предложения (39),12,10,Sochi
2,city_landing,search-tools-button_open,Penza / Сортировка,2,2,Penza
3,city_landing,filters-categories_click,Gelendzhik / ЭКСКУРСИИ В ГЕЛЕНДЖИКЕ ЦЕНЫ,1,1,Gelendzhik
4,city_landing,price_button_submit,Moscow / Показать предложения (345),2,2,Moscow
5,city_landing,clear_filter_mobile,Vienna,12,11,Vienna
6,city_landing,start_date_click,Vilnius,9,4,Vilnius
7,city_landing,ticket-type_checkbox,Irkutsk / Мини-группа,29,26,Irkutsk
8,city_landing,price_button_submit,Vladivostok / Показать предложения (28),3,3,Vladivostok
9,city_landing,filters-categories_click,Krakow / Необычные,3,3,Krakow

In [81]:
#датафрейм events_filter_count содержит только строки с event action - price_button_submit

In [82]:
events_filter_count = events.loc[events['event_action'] == 'price_button_submit']

In [85]:
#сортировка по городам для подсчёта количества применения фильтров

In [83]:
events_filter_count.groupby('city').sum().sort_values('unique_events')

                  total_events  unique_events
city
Parma                        1              1
Marbella                     1              1
San Francisco                2              1
Izborsk                      1              1
Medellin                     1              1
...                        ...            ...
Istanbul                  2778           2357
Sochi                     3286           2909
Moscow                    3598           3176
Saint Petersburg          5601           5028
Kaliningrad               6113           5222

[363 rows x 2 columns]

In [84]:
#чаще всего фильтрами пользуются в Калининраде, Санкт-Петербурге, Москве, Сочи и Стамбуле,
#меньше всего в Парме, Марбелле, Сан Франциско, Изборске и Медельин